body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.increase-button {
    background-color: rgb(0, 247, 82);
}

.decrease-button {
    background-color: rgb(247, 0, 0);
}
/*
svg {
    fill: red;
}
*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown {
    --bs-alert-bg: rgb(166, 248, 166);
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: rgb(166, 248, 166);
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-top: 0px;
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
  }
  .dropdown,
  .dropdown * {
    z-index: 10;
  }
  .dropdown .dropdown-btn {
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background: rgb(166, 248, 166);
    border: 0px solid #ddd;
    border-radius: 0px;
    color: white;
    font-weight: 500;
  }
  .dropdown-content {
    position: absolute;
    /* top: 110%; */
    background: rgb(166, 248, 166);
    left: 0;
    width: 90%;
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: var(--bs-alert-border-radius);
    border: 1px solid rgb(0, 0, 0);
  }
  .dropdown-content .item {
    padding: 10px;
    cursor: pointer;
    background: rgb(166, 248, 166);
  }
  .dropdown-content .item:hover {
    background: #fcfcfc;
  }
  
.budget-input {
    width: 60%;
}

.currency-label {
    margin-top: 8px;
    padding-left: 2rem;
    padding-right: 7px;
}

.plus-icon {
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(3, 247, 105);
  border: 2px solid rgb(3, 247, 105);
  padding: 0px;
  font-size: 20px;
}

.minus-icon {
    overflow: hidden;
    border-radius: 50%;
    background-color: red;
  border: 2px solid red;
  padding: 0px;
  font-size: 20px;
}